<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pol.poleuser">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_main_PolUser" />
        <activity
            android:name=".Activity_SplashScrean_PolUser"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Login_PolUser" />
        <activity android:name=".Activity_Wellcome_PolUser" />
        <activity android:name=".Activity_SubCategory_PolUser" />
        <activity android:name=".Activity_SubmitReq_PolUser" />
        <activity android:name=".Activity_EditProfile_PoleUser" />
        <activity android:name=".Activity_ShowAllFinished_PoleUser"></activity>
    </application>

</manifest>